* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
.h2RAS {
  color: #596c72;
  font-size: 30px;
}
.Yenilikler {
  background-color: #e1e4eb78;
}
.cardRAS {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 312px;
  height: fit-content;
  padding-inline: 30px;
  padding-block: 20px;
  -webkit-box-shadow: 21px 16px 24px -4px rgba(0, 0, 0, 0.46);
  -moz-box-shadow: 21px 16px 24px -4px rgba(0, 0, 0, 0.46);
  box-shadow: 21px 16px 24px -4px rgba(0, 0, 0, 0.46);
  /* border: 1px black solid; */
  background-color: #fff;
  p {
    font-size: 14px;
    color: #69768b;
  }
  h2 {
    color: #191919;
  }
}
.containerRAS {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
@font-face {
  font-family: Monster;
  src: url(../fonts/Montserrat-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: Monster;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffc01f;
  padding: 20px;
  h2 {
    font-size: 14px;
  }
  aside {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }
}
a {
  color: #212121;
}
.l1article {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  margin: 20px;
}
.btns {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.loqo {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.Dashes {
  margin: 20px;
}
.container {
  position: relative;
  left: 15%;
  width: 70%;
  text-align: center;
}
.slide {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  width: 71px;
  height: 80px;
  position: absolute;
  /* border: 1px black solid; */
}
.Mahsul {
  display: flex;
  justify-content: start;
  margin-inline-start: 35px;
  padding: 20px;
  /* border: 1px black solid; */
}
.flex {
  display: flex;
  justify-content: end;
  flex-direction: column;
  gap: 20px;
}
.Soz {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
  /* border: 1px solid black; */
}
.Sozler {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.contain {
  display: flex;
  justify-content: space-between;
  p {
    font-size: 18px;
  }
}
.yelo {
  color: #ffc01f;
}
.big {
  font-size: 22px;
}
.small {
  font-size: 16px;
}
